/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

header h1 {
    display: flex;
    margin: 0;
}
header li {
    margin: 0;
    color: #45a049;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #17502d;
    text-decoration: none;
}

main {
    padding: 20px;
}

.bus-list {
    list-style-type: none;
}

.bus-item {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc; /* Add border */
    display: inline-block; /* Make each bus appear as inline-block */
}

.bus-item:hover {
    transform: scale(1.05); /* Add transform on hover */
}

.bus-info {
    margin-bottom: 10px;
}

.book-ticket {
    display: inline-block;
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
}

.book-ticket:hover {
    background-color: #45a049;
}
footer {
    background-color: #172029;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
