<!-- bus_detail.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buses</title>
</head>
<body>
    <h1>Bus Details</h1>
    <ul>
        <li>Bus Number: 123</li>
        {% for buses in Bus %}
            {% if buses.id == 1 %}        
                <li>Bus no: {{buses.id}}</li>
                <li>Bus Name: {{buses.name}}</li>
                <li>Bus color: {{buses.color}}</li>
                <li>Bus Capacity: {{buses.seats}}</li>
                <li>Bus departure city: {{buses.departure_city}}
                <li> Departure time: {{buses.departure_time}}
            {% endif %}
            

        {% endfor %}
    </ul>
</body>
</html>
