{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digital Bus Ticket Reservation System</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>

<h1>WELCOME DIGITAL BUS TICKET RESERVATION SYSTEM</h1>

<header>
    
</header>


<div id="menu-icon" onclick="toggleMenu()">☰</div>


<div id="sidebar">
    <a href="#" onclick="closeMenu()">Home</a>
    <a href="{% url 'search_form' %}" onclick="closeMenu()">Book Ticket</a>
    <a href="#" onclick="closeMenu()">Update Details</a>
    <a href="#" onclick="closeMenu()">Routes</a>
    <a href="#" onclick="closeMenu()">Help</a>
    <a href="#" onclick="closeMenu()">Profile</a>
    <a href="#" onclick="closeMenu()">Settings</a>
    <a href="{% url 'login' %}" onclick="closeMenu()">Login</a>
    <a href="" onclick="closeMenu()">Sign Out</a>
    <a href="#" onclick="closeMenu()">Feedback</a>
    <a href="#" onclick="closeMenu()">About us</a>
</div>

<main>
    <div class="welcome-message">
        <h2>Welcome to the Digital Bus Ticket Reservation System</h2>
        <p>Embark on a journey of convenience, flexibility, and reliability with our revolutionary bus booking system. Our innovative platform redefines the way you book your bus tickets, offering unparalleled convenience, comprehensive route options, and a streamlined user experience.</p>
        <p>Experience hassle-free bus ticket booking and explore a wide range of destinations with ease. Whether you're planning a spontaneous getaway or a meticulously organized journey, our system empowers you to travel on your terms.</p>
    </div>

    <div class="imagees">
        <img src="{% static 'images/bus1.jpeg' %}" alt="Logo">
    </div>
</main>

<footer>
    <b>Follow us on social media:</b>
    <i class="fa fa-instagram" aria-hidden="true"> Instagram</i>
    <i class="fas fa-linkedin-in"> LinkedIn</i>
    <i class="fa fa-twitter" aria-hidden="true"> Twitter</i>
</footer>

<script>
    function toggleMenu() {
        var sidebar = document.getElementById("sidebar");
        var menuIcon = document.getElementById("menu-icon");

        if (sidebar.classList.contains("active")) {
            sidebar.classList.remove("active");
            menuIcon.innerHTML = "☰";
        } else {
            sidebar.classList.add("active");
            menuIcon.innerHTML = "✖";
        }
    }

    function closeMenu() {
        var sidebar = document.getElementById("sidebar");
        var menuIcon = document.getElementById("menu-icon");

        sidebar.classList.remove("active");
        menuIcon.innerHTML = "☰";
    }
</script>

</body>
</html>
