<!-- search_form.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Form</title>
    <link rel="stylesheet" href="{% static 'css/search.css' %}">
</head>
<body>
    <b><a href="{% url 'search_form' %}">search</a></b>
    <h1>Search for Vehicles</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type='submit'> Search</button>
    </form>
</body>
</html>
